* text=auto eol=lf

*.gitattributes text export-ignore
.gitignore      text export-ignore

*.json        linguist-detectable=true
*.yml         linguist-detectable=true
*.yaml        linguist-detectable=true
*.toml        linguist-detectable=true
*.cfg         linguist-detectable=true
*.conf        linguist-detectable=true
.dockerignore linguist-detectable=true
nginx.conf    linguist-detectable=true
